h1, h2, h3, h4, h5, h6 {
  font-family: Markazi Text, serif;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #495E57;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.column {
  flex-basis: 50%;
  padding: 2rem 0;
}

nav {
  background-color: #FFFFFF;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.logo-header {
  width: 250px;
  display: inline
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-family: Karla, sans-serif;
  font-weight: 550;
  color: black;
  font-size: 1.2rem;
  margin: 0 1rem;
  display: block;
  position: relative;
  padding: 0.1em 0;
}

.nav-link:hover {
  color: #495E57;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #495E57;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.active {
  color: #495E57;
}

.active::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.hero {
  background-color: #495E57;
  color: white;
  padding: 2rem;
  height: 350px;
}

.hero .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.hero h1 {
  font-size: 3.5rem;
  margin: 0;
  color: #C7A811;
}

.hero h2 {
  font-family: Karla, sans-serif;
  font-size: 2rem;
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
  margin: 0;
  padding: 1.5rem 0;
}

.hero-image {
  display: flex;
  justify-content: right;
}

.hero img {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  object-fit: cover;
}

.section-title {
  font-family: Markazi Text, serif;
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 2rem;
}

.specials {
  padding: 8rem 2rem;
}

.specials-header {
  display: flex;
  justify-content: space-between;
}

.specials-carousel {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
}

.specials-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #EDEFEE;
  margin: 1rem;
}

.specials-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.specials-card header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.specials-card h3 {
  font-size: 1.5rem;
  margin: 0;
}

.specials-card .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #EE9972;
}

.specials-card p {
  margin: 0;
  padding: 0 2rem;
}

.specials-card footer {
  margin-top: auto;
  padding: 2rem;
}

.specials-card a {
  font-weight: bold;
}

.testimonials {
  background-color: #333333;
  text-align: center;
  padding: 5rem 2rem;
}

.testimonials .section-title {
  color: #FFFFFF;
}

.testimonials-carousel {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
}

.testimonials-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #495E57;
  color: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
}

.testimonials-card-avatar {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 200px;
  margin: 1rem;
}

.testimonials-card h3 {
  font-size: 1.5rem;
  margin: 0;
}

.testimonials-card .rating {
  font-size: 1.2rem;
  font-weight: bold;
  color: #EE9972;
}

.testimonials-card-star {
  height: 1rem;
  width: 1rem;
}

.testimonials-card p {
  margin: 0;
  padding: 1rem 2rem;
}

.about {
  padding: 5rem 2rem;
  min-height: 650px;
}

.about-text {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1.5rem;
}

.about-image-wrapper {
  position: relative;
}

.about-image {
  display: block;
  object-fit: cover;
  border-radius: 16px;
  height: 400px;
  aspect-ratio: 3/4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.front {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 200px;
}

.rear {
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 0px;
}

footer .container {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer h3 {
  font-size: 1.5rem;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 0.5rem 0;
}

.btn {
  width: fit-content;
  height: fit-content;
  background-color: #F4CE14;
  border: 2px solid #F4CE14;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #495E57;
  color: #F4CE14;
  border: 2px solid #F4CE14;
}

.section-header {
  padding: 2rem;
  background-color: #495E57;
  color: white;
}

.section-header h2 {
  max-width: 1200px;
  font-family: Karla, sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.section-header h3 {
  max-width: 1200px;
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0;
}

.form-wrapper {
  padding: 5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.form-group label {
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-group input {
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 2px solid #495E57;
  border-radius: 16px;
  width: 100%;
  text-align: center;
}

.form-group select {
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #FFFFFF;
  border: 2px solid #495E57;
  border-radius: 16px;
  width: 100%;
  text-align: center;
}

.check {
  cursor: pointer;
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  appearance: none;
  border: 2px solid #495E57;
  border-radius: 6px;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
}

.check:checked {
  background-color: #495E57;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.check-label {
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  align-self: center;
}

form button {
  margin: 2rem auto 0 auto;
}

form button:hover {
  cursor: pointer;
}

.input-error {
  border: 2px solid #CC2F2C !important;
}

.form-error {
  color: #CC2F2C;
  font-weight: bold;
}

.data-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 5rem 2rem 0 2rem;
}

.data-title {
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.data-value {
  font-family: Karla, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

@media (width <= 1024px) {
  nav {
    flex-wrap: wrap;
    height: auto;
  }

  .nav {
    z-index: 10;
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .nav.open {
    display: flex;
  }

  .burger-menu {
    display: block;
  }

  .hero img {
    height: 280px;
    width: auto;
    aspect-ratio: 1/1;
    
  }

  .about-image {
    height: 300px;
  }

  .front {
    right: 150px;
  }
}
@media (width <= 768px) {
  .logo-header {
    width: 150px;
  }

  .hero {
    height: auto;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero img {
    display: none;
  }

  .row {
    flex-direction: column;
    gap: 2rem;
  }

  .specials-header {
    display: flex;
    flex-direction: column;
  }

  .about {
    min-height: none;
  }

  .about-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .about-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1/1;
  }

  .front {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .rear {
    position: relative;
    top: 0px;
    left: 0px;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
  }

  footer img {
    width: 80%;
    max-width: 100px;
  }

  .btn {
    width: 100%;
  }
}